<!DOCTYPE html>
<html>
    <head>
        {{ template "header" }}
        <link rel="stylesheet" type="text/css" href="/css/home.css" />
        <script type="text/javascript" src="/js/home.js"></script>
    </head>

    <body>
        <h1>SimpLog</h1>
        <div class="search-bar">
            <input class="search-in" type="text" id="search" placeholder="search text" />
            <div id="button" class="button">Search</search></div>
        </div>
        
        <div id="results" class="results">
        </div> 
    </body>
</html>
